.section-differentials {
    display: flex;
    justify-content: space-around;
}

.differentials-container {
    width: 100%;
}

.differentials-container ul {
    display: flex;
    justify-content: space-evenly;
}

.differentials-container ul li {
    display: table;
}

.differentials-container ul li spam {
    display: table-cell;
    vertical-align: middle;
    width: 15rem;
    padding: 0 1rem;
}   