.highlights-container {
    display: flex;
    margin: 2em auto;
    justify-content: center;
    width: 70%
}

.highlight-post {
    padding: 2em 2em;
    width: 50%;
}

.highlight-post:hover {
    background-color: var(--color-white-first);
}

.highlight-post img {
    width: 100%;
}

.highlight-post figcaption {
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0 0 0;
    text-decoration: none;
    text-align: left;
}