.footer {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    background-color: var(--color-black-second);
    padding: 3rem 2rem;
}

.footer > .footer-socialNetwork {
    display: flex;
    align-items: center;
}

.footer-socialNetwork > img {
    margin-left: 2rem;
}