.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.navigation-header, .navigation-header ul, .navigation-header ul li a {
    display: flex;
    align-items: center;
}

.navigation-header {
    width: 30rem;
}

.navigation-header ul { 
    width: 100%;
    justify-content: space-between;
}

.navigation-header ul li a {
    text-decoration: none;
    color: var(--color-white-first);
}

.navigation-header ul li a:hover {
    text-decoration: underline;
}